#define MC_XPB_CLG_CFG21__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG21__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG21__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG21__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG22__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG22__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG22__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG22__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG22__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG22__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG22__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG22__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG22__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG22__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG23__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG23__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG23__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG23__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG23__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG23__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG23__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG23__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG23__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG23__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG24__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG24__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG24__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG24__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG24__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG24__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG24__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG24__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG24__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG24__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG25__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG25__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG25__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG25__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG25__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG25__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG25__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG25__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG25__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG25__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG26__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG26__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG26__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG26__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG26__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG26__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG26__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG26__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG26__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG26__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG27__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG27__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG27__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG27__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG27__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG27__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG27__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG27__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG27__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG27__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG28__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG28__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG28__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG28__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG28__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG28__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG28__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG28__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG28__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG28__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG29__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG29__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG29__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG29__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG29__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG29__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG29__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG29__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG29__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG29__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG30__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG30__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG30__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG30__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG30__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG30__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG30__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG30__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG30__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG30__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG31__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG31__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG31__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG31__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG31__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG31__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG31__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG31__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG31__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG31__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_INTF_CFG2__RPB_RDREQ_CRD_MASK 0xff
#define MC_XPB_INTF_CFG2__RPB_RDREQ_CRD__SHIFT 0x0
#define MC_XPB_CLG_EXTRA_RD__CMP0_MASK 0xff
#define MC_XPB_CLG_EXTRA_RD__CMP0__SHIFT 0x0
#define MC_XPB_CLG_EXTRA_RD__MSK0_MASK 0xff00
#define MC_XPB_CLG_EXTRA_RD__MSK0__SHIFT 0x8
#define MC_XPB_CLG_EXTRA_RD__VLD0_MASK 0x10000
#define MC_XPB_CLG_EXTRA_RD__VLD0__SHIFT 0x10
#define MC_XPB_CLG_EXTRA_RD__CMP1_MASK 0x1fe0000
#define MC_XPB_CLG_EXTRA_RD__CMP1__SHIFT 0x11
#define MC_XPB_CLG_EXTRA_RD__VLD1_MASK 0x2000000
#define MC_XPB_CLG_EXTRA_RD__VLD1__SHIFT 0x19
#define MC_XPB_CLG_CFG32__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG32__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG32__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG32__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG32__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG32__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG32__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG32__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG32__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG32__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG33__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG33__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG33__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG33__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG33__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG33__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG33__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG33__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG33__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG33__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG34__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG34__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG34__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG34__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG34__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG34__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG34__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG34__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG34__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG34__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG35__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG35__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG35__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG35__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG35__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG35__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG35__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG35__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG35__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG35__SIDE_FLUSH__SHIFT 0xe
#define MC_XPB_CLG_CFG36__WCB_NUM_MASK 0xf
#define MC_XPB_CLG_CFG36__WCB_NUM__SHIFT 0x0
#define MC_XPB_CLG_CFG36__LB_TYPE_MASK 0x70
#define MC_XPB_CLG_CFG36__LB_TYPE__SHIFT 0x4
#define MC_XPB_CLG_CFG36__P2P_BAR_MASK 0x380
#define MC_XPB_CLG_CFG36__P2P_BAR__SHIFT 0x7
#define MC_XPB_CLG_CFG36__HOST_FLUSH_MASK 0x3c00
#define MC_XPB_CLG_CFG36__HOST_FLUSH__SHIFT 0xa
#define MC_XPB_CLG_CFG36__SIDE_FLUSH_MASK 0x3c000
#define MC_XPB_CLG_CFG36__SIDE_FLUSH__SHIFT 0xe
#define MC_XBAR_ADDR_DEC__NO_DIV_BY_3_MASK 0x1
#define MC_XBAR_ADDR_DEC__NO_DIV_BY_3__SHIFT 0x0
#define MC_XBAR_ADDR_DEC__GECC_MASK 0x2
#define MC_XBAR_ADDR_DEC__GECC__SHIFT 0x1
#define MC_XBAR_ADDR_DEC__RB_SPLIT_MASK 0x4
#define MC_XBAR_ADDR_DEC__RB_SPLIT__SHIFT 0x2
#define MC_XBAR_ADDR_DEC__RB_SPLIT_COLHI_MASK 0x8
#define MC_XBAR_ADDR_DEC__RB_SPLIT_COLHI__SHIFT 0x3
#define MC_XBAR_REMOTE__WRREQ_EN_GOQ_MASK 0x1
#define MC_XBAR_REMOTE__WRREQ_EN_GOQ__SHIFT 0x0
#define MC_XBAR_REMOTE__RDREQ_EN_GOQ_MASK 0x2
#define MC_XBAR_REMOTE__RDREQ_EN_GOQ__SHIFT 0x1
#define MC_XBAR_WRREQ_CREDIT__OUT0_MASK 0xff
#define MC_XBAR_WRREQ_CREDIT__OUT0__SHIFT 0x0
#define MC_XBAR_WRREQ_CREDIT__OUT1_MASK 0xff00
#define MC_XBAR_WRREQ_CREDIT__OUT1__SHIFT 0x8
#define MC_XBAR_WRREQ_CREDIT__OUT2_MASK 0xff0000
#define MC_XBAR_WRREQ_CREDIT__OUT2__SHIFT 0x10
#define MC_XBAR_WRREQ_CREDIT__OUT3_MASK 0xff000000
#define MC_XBAR_WRREQ_CREDIT__OUT3__SHIFT 0x18
#define MC_XBAR_RDREQ_CREDIT__OUT0_MASK 0xff
#define MC_XBAR_RDREQ_CREDIT__OUT0__SHIFT 0x0
#define MC_XBAR_RDREQ_CREDIT__OUT1_MASK 0xff00
#define MC_XBAR_RDREQ_CREDIT__OUT1__SHIFT 0x8
#define MC_XBAR_RDREQ_CREDIT__OUT2_MASK 0xff0000
#define MC_XBAR_RDREQ_CREDIT__OUT2__SHIFT 0x10
#define MC_XBAR_RDREQ_CREDIT__OUT3_MASK 0xff000000
#define MC_XBAR_RDREQ_CREDIT__OUT3__SHIFT 0x18
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT0_MASK 0xff
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT0__SHIFT 0x0
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT1_MASK 0xff00
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT1__SHIFT 0x8
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT2_MASK 0xff0000
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT2__SHIFT 0x10
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT3_MASK 0xff000000
#define MC_XBAR_RDREQ_PRI_CREDIT__OUT3__SHIFT 0x18
#define MC_XBAR_WRRET_CREDIT1__OUT0_MASK 0xff
#define MC_XBAR_WRRET_CREDIT1__OUT0__SHIFT 0x0
#define MC_XBAR_WRRET_CREDIT1__OUT1_MASK 0xff00
#define MC_XBAR_WRRET_CREDIT1__OUT1__SHIFT 0x8
#define MC_XBAR_WRRET_CREDIT1__OUT2_MASK 0xff0000
#define MC_XBAR_WRRET_CREDIT1__OUT2__SHIFT 0x10
#define MC_XBAR_WRRET_CREDIT1__OUT3_MASK 0xff000000
#define MC_XBAR_WRRET_CREDIT1__OUT3__SHIFT 0x18
#define MC_XBAR_WRRET_CREDIT2__OUT4_MASK 0xff
#define MC_XBAR_WRRET_CREDIT2__OUT4__SHIFT 0x0
#define MC_XBAR_WRRET_CREDIT2__OUT5_MASK 0xff00
#define MC_XBAR_WRRET_CREDIT2__OUT5__SHIFT 0x8
#define MC_XBAR_RDRET_CREDIT1__OUT0_MASK 0xff
#define MC_XBAR_RDRET_CREDIT1__OUT0__SHIFT 0x0
#define MC_XBAR_RDRET_CREDIT1__OUT1_MASK 0xff00
#define MC_XBAR_RDRET_CREDIT1__OUT1__SHIFT 0x8
#define MC_XBAR_RDRET_CREDIT1__OUT2_MASK 0xff0000
#define MC_XBAR_RDRET_CREDIT1__OUT2__SHIFT 0x10
#define MC_XBAR_RDRET_CREDIT1__OUT3_MASK 0xff000000
#define MC_XBAR_RDRET_CREDIT1__OUT3__SHIFT 0x18
#define MC_XBAR_RDRET_CREDIT2__OUT4_MASK 0xff
#define MC_XBAR_RDRET_CREDIT2__OUT4__SHIFT 0x0
#define MC_XBAR_RDRET_CREDIT2__OUT5_MASK 0xff00
#define MC_XBAR_RDRET_CREDIT2__OUT5__SHIFT 0x8
#define MC_XBAR_RDRET_CREDIT2__HUB_LP_RDRET_SKID_MASK 0xff0000
#define MC_XBAR_RDRET_CREDIT2__HUB_LP_RDRET_SKID__SHIFT 0x10
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT0_MASK 0xff
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT0__SHIFT 0x0
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT1_MASK 0xff00
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT1__SHIFT 0x8
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT2_MASK 0xff0000
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT2__SHIFT 0x10
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT3_MASK 0xff000000
#define MC_XBAR_RDRET_PRI_CREDIT1__OUT3__SHIFT 0x18
#define MC_XBAR_RDRET_PRI_CREDIT2__OUT4_MASK 0xff
#define MC_XBAR_RDRET_PRI_CREDIT2__OUT4__SHIFT 0x0
#define MC_XBAR_RDRET_PRI_CREDIT2__OUT5_MASK 0xff00
#define MC_XBAR_RDRET_PRI_CREDIT2__OUT5__SHIFT 0x8
#define MC_XBAR_CHTRIREMAP__CH0_MASK 0x3
#define MC_XBAR_CHTRIREMAP__CH0__SHIFT 0x0
#define MC_XBAR_CHTRIREMAP__CH1_MASK 0xc
#define MC_XBAR_CHTRIREMAP__CH1__SHIFT 0x2
#define MC_XBAR_CHTRIREMAP__CH2_MASK 0x30
#define MC_XBAR_CHTRIREMAP__CH2__SHIFT 0x4
#define MC_XBAR_TWOCHAN__DISABLE_ONEPORT_MASK 0x1
#define MC_XBAR_TWOCHAN__DISABLE_ONEPORT__SHIFT 0x0
#define MC_XBAR_TWOCHAN__CH0_MASK 0x6
#define MC_XBAR_TWOCHAN__CH0__SHIFT 0x1
#define MC_XBAR_TWOCHAN__CH1_MASK 0x18
#define MC_XBAR_TWOCHAN__CH1__SHIFT 0x3
#define MC_XBAR_ARB__HUBRD_HIGHEST_MASK 0x1
#define MC_XBAR_ARB__HUBRD_HIGHEST__SHIFT 0x0
#define MC_XBAR_ARB__DISABLE_HUB_STALL_HIGHEST_MASK 0x2
#define MC_XBAR_ARB__DISABLE_HUB_STALL_HIGHEST__SHIFT 0x1
#define MC_XBAR_ARB__BREAK_BURST_CID_CHANGE_MASK 0x4
#define MC_XBAR_ARB__BREAK_BURST_CID_CHANGE__SHIFT 0x2
#define MC_XBAR_ARB_MAX_BURST__RD_PORT0_MASK 0xf
#define MC_XBAR_ARB_MAX_BURST__RD_PORT0__SHIFT 0x0
#define MC_XBAR_ARB_MAX_BURST__RD_PORT1_MASK 0xf0
#define MC_XBAR_ARB_MAX_BURST__RD_PORT1__SHIFT 0x4
#define MC_XBAR_ARB_MAX_BURST__RD_PORT2_MASK 0xf00
#define MC_XBAR_ARB_MAX_BURST__RD_PORT2__SHIFT 0x8
#define MC_XBAR_ARB_MAX_BURST__RD_PORT3_MASK 0xf000
#define MC_XBAR_ARB_MAX_BURST__RD_PORT3__SHIFT 0xc
#define MC_XBAR_ARB_MAX_BURST__WR_PORT0_MASK 0xf0000
#define MC_XBAR_ARB_MAX_BURST__WR_PORT0__SHIFT 0x10
#define MC_XBAR_ARB_MAX_BURST__WR_PORT1_MASK 0xf00000
#define MC_XBAR_ARB_MAX_BURST__WR_PORT1__SHIFT 0x14
#define MC_XBAR_ARB_MAX_BURST__WR_PORT2_MASK 0xf000000
#define MC_XBAR_ARB_MAX_BURST__WR_PORT2__SHIFT 0x18
#define MC_XBAR_ARB_MAX_BURST__WR_PORT3_MASK 0xf0000000
#define MC_XBAR_ARB_MAX_BURST__WR_PORT3__SHIFT 0x1c
#define MC_XBAR_PERF_MON_CNTL0__START_THRESH_MASK 0xfff
#define MC_XBAR_PERF_MON_CNTL0__START_THRESH__SHIFT 0x0
#define MC_XBAR_PERF_MON_CNTL0__STOP_THRESH_MASK 0xfff000
#define MC_XBAR_PERF_MON_CNTL0__STOP_THRESH__SHIFT 0xc
#define MC_XBAR_PERF_MON_CNTL0__START_MODE_MASK 0x3000000
#define MC_XBAR_PERF_MON_CNTL0__START_MODE__SHIFT 0x18
#define MC_XBAR_PERF_MON_CNTL0__STOP_MODE_MASK 0xc000000
#define MC_XBAR_PERF_MON_CNTL0__STOP_MODE__SHIFT 0x1a
#define MC_XBAR_PERF_MON_CNTL0__ALLOW_WRAP_MASK 0x10000000
#define MC_XBAR_PERF_MON_CNTL0__ALLOW_WRAP__SHIFT 0x1c
#define MC_XBAR_PERF_MON_CNTL1__THRESH_CNTR_ID_MASK 0xff
#define MC_XBAR_PERF_MON_CNTL1__THRESH_CNTR_ID__SHIFT 0x0
#define MC_XBAR_PERF_MON_CNTL1__START_TRIG_ID_MASK 0xff00
#define MC_XBAR_PERF_MON_CNTL1__START_TRIG_ID__SHIFT 0x8
#define MC_XBAR_PERF_MON_CNTL1__STOP_TRIG_ID_MASK 0xff0000
#define MC_XBAR_PERF_MON_CNTL1__STOP_TRIG_ID__SHIFT 0x10
#define MC_XBAR_PERF_MON_CNTL2__MON0_ID_MASK 0xff
#define MC_XBAR_PERF_MON_CNTL2__MON0_ID__SHIFT 0x0
#define MC_XBAR_PERF_MON_CNTL2__MON1_ID_MASK 0xff00
#define MC_XBAR_PERF_MON_CNTL2__MON1_ID__SHIFT 0x8
#define MC_XBAR_PERF_MON_CNTL2__MON2_ID_MASK 0xff0000
#define MC_XBAR_PERF_MON_CNTL2__MON2_ID__SHIFT 0x10
#define MC_XBAR_PERF_MON_CNTL2__MON3_ID_MASK 0xff000000
#define MC_XBAR_PERF_MON_CNTL2__MON3_ID__SHIFT 0x18
#define MC_XBAR_PERF_MON_RSLT0__COUNT_MASK 0xffffffff
#define MC_XBAR_PERF_MON_RSLT0__COUNT__SHIFT 0x0
#define MC_XBAR_PERF_MON_RSLT1__COUNT_MASK 0xffffffff
#define MC_XBAR_PERF_MON_RSLT1__COUNT__SHIFT 0x0
#define MC_XBAR_PERF_MON_RSLT2__COUNT_MASK 0xffffffff
#define MC_XBAR_PERF_MON_RSLT2__COUNT__SHIFT 0x0
#define MC_XBAR_PERF_MON_RSLT3__COUNT_MASK 0xffffffff
#define MC_XBAR_PERF_MON_RSLT3__COUNT__SHIFT 0x0
#define MC_XBAR_PERF_MON_MAX_THSH__MON0_MASK 0xff
#define MC_XBAR_PERF_MON_MAX_THSH__MON0__SHIFT 0x0
#define MC_XBAR_PERF_MON_MAX_THSH__MON1_MASK 0xff00
#define MC_XBAR_PERF_MON_MAX_THSH__MON1__SHIFT 0x8
#define MC_XBAR_PERF_MON_MAX_THSH__MON2_MASK 0xff0000
#define MC_XBAR_PERF_MON_MAX_THSH__MON2__SHIFT 0x10
#define MC_XBAR_PERF_MON_MAX_THSH__MON3_MASK 0xff000000
#define MC_XBAR_PERF_MON_MAX_THSH__MON3__SHIFT 0x18
#define MC_XBAR_SPARE0__BIT_MASK 0xffffffff
#define MC_XBAR_SPARE0__BIT__SHIFT 0x0
#define MC_XBAR_SPARE1__BIT_MASK 0xffffffff
#define MC_XBAR_SPARE1__BIT__SHIFT 0x0
#define MC_CITF_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define MC_CITF_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define MC_HUB_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define MC_HUB_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define MC_RPB_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define MC_RPB_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define MC_MCBVM_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define MC_MCBVM_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define MC_MCDVM_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define MC_MCDVM_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define MC_VM_L2_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define MC_VM_L2_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define MC_ARB_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define MC_ARB_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define ATC_PERFCOUNTER_LO__COUNTER_LO_MASK 0xffffffff
#define ATC_PERFCOUNTER_LO__COUNTER_LO__SHIFT 0x0
#define MC_CITF_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define MC_CITF_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define MC_CITF_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define MC_CITF_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define MC_HUB_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define MC_HUB_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define MC_HUB_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define MC_HUB_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define MC_MCBVM_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define MC_MCBVM_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define MC_MCBVM_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define MC_MCBVM_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define MC_MCDVM_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define MC_MCDVM_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define MC_MCDVM_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define MC_MCDVM_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define MC_RPB_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define MC_RPB_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define MC_RPB_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define MC_RPB_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define MC_VM_L2_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define MC_VM_L2_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define MC_VM_L2_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define MC_VM_L2_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define MC_ARB_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define MC_ARB_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define MC_ARB_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define MC_ARB_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define ATC_PERFCOUNTER_HI__COUNTER_HI_MASK 0xffff
#define ATC_PERFCOUNTER_HI__COUNTER_HI__SHIFT 0x0
#define ATC_PERFCOUNTER_HI__COMPARE_VALUE_MASK 0xffff0000
#define ATC_PERFCOUNTER_HI__COMPARE_VALUE__SHIFT 0x10
#define MC_CITF_PERFCOUNTER0_CFG__PERF_SEL_MASK 0xff
#define MC_CITF_PERFCOUNTER0_CFG__PERF_SEL__SHIFT 0x0
#define MC_CITF_PERFCOUNTER0_CFG__PERF_SEL_END_MASK 0xff00
#define MC_CITF_PERFCOUNTER0_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_CITF_PERFCOUNTER0_CFG__PERF_MODE_MASK 0xf000000
#define MC_CITF_PERFCOUNTER0_CFG__PERF_MODE__SHIFT 0x18
#define MC_CITF_PERFCOUNTER0_CFG__ENABLE_MASK 0x10000000
#define MC_CITF_PERFCOUNTER0_CFG__ENABLE__SHIFT 0x1c
#define MC_CITF_PERFCOUNTER0_CFG__CLEAR_MASK 0x20000000
#define MC_CITF_PERFCOUNTER0_CFG__CLEAR__SHIFT 0x1d
#define MC_CITF_PERFCOUNTER1_CFG__PERF_SEL_MASK 0xff
#define MC_CITF_PERFCOUNTER1_CFG__PERF_SEL__SHIFT 0x0
#define MC_CITF_PERFCOUNTER1_CFG__PERF_SEL_END_MASK 0xff00
#define MC_CITF_PERFCOUNTER1_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_CITF_PERFCOUNTER1_CFG__PERF_MODE_MASK 0xf000000
#define MC_CITF_PERFCOUNTER1_CFG__PERF_MODE__SHIFT 0x18
#define MC_CITF_PERFCOUNTER1_CFG__ENABLE_MASK 0x10000000
#define MC_CITF_PERFCOUNTER1_CFG__ENABLE__SHIFT 0x1c
#define MC_CITF_PERFCOUNTER1_CFG__CLEAR_MASK 0x20000000
#define MC_CITF_PERFCOUNTER1_CFG__CLEAR__SHIFT 0x1d
#define MC_CITF_PERFCOUNTER2_CFG__PERF_SEL_MASK 0xff
#define MC_CITF_PERFCOUNTER2_CFG__PERF_SEL__SHIFT 0x0
#define MC_CITF_PERFCOUNTER2_CFG__PERF_SEL_END_MASK 0xff00
#define MC_CITF_PERFCOUNTER2_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_CITF_PERFCOUNTER2_CFG__PERF_MODE_MASK 0xf000000
#define MC_CITF_PERFCOUNTER2_CFG__PERF_MODE__SHIFT 0x18
#define MC_CITF_PERFCOUNTER2_CFG__ENABLE_MASK 0x10000000
#define MC_CITF_PERFCOUNTER2_CFG__ENABLE__SHIFT 0x1c
#define MC_CITF_PERFCOUNTER2_CFG__CLEAR_MASK 0x20000000
#define MC_CITF_PERFCOUNTER2_CFG__CLEAR__SHIFT 0x1d
#define MC_CITF_PERFCOUNTER3_CFG__PERF_SEL_MASK 0xff
#define MC_CITF_PERFCOUNTER3_CFG__PERF_SEL__SHIFT 0x0
#define MC_CITF_PERFCOUNTER3_CFG__PERF_SEL_END_MASK 0xff00
#define MC_CITF_PERFCOUNTER3_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_CITF_PERFCOUNTER3_CFG__PERF_MODE_MASK 0xf000000
#define MC_CITF_PERFCOUNTER3_CFG__PERF_MODE__SHIFT 0x18
#define MC_CITF_PERFCOUNTER3_CFG__ENABLE_MASK 0x10000000
#define MC_CITF_PERFCOUNTER3_CFG__ENABLE__SHIFT 0x1c
#define MC_CITF_PERFCOUNTER3_CFG__CLEAR_MASK 0x20000000
#define MC_CITF_PERFCOUNTER3_CFG__CLEAR__SHIFT 0x1d
#define MC_HUB_PERFCOUNTER0_CFG__PERF_SEL_MASK 0xff
#define MC_HUB_PERFCOUNTER0_CFG__PERF_SEL__SHIFT 0x0
#define MC_HUB_PERFCOUNTER0_CFG__PERF_SEL_END_MASK 0xff00
#define MC_HUB_PERFCOUNTER0_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_HUB_PERFCOUNTER0_CFG__PERF_MODE_MASK 0xf000000
#define MC_HUB_PERFCOUNTER0_CFG__PERF_MODE__SHIFT 0x18
#define MC_HUB_PERFCOUNTER0_CFG__ENABLE_MASK 0x10000000
#define MC_HUB_PERFCOUNTER0_CFG__ENABLE__SHIFT 0x1c
#define MC_HUB_PERFCOUNTER0_CFG__CLEAR_MASK 0x20000000
#define MC_HUB_PERFCOUNTER0_CFG__CLEAR__SHIFT 0x1d
#define MC_HUB_PERFCOUNTER1_CFG__PERF_SEL_MASK 0xff
#define MC_HUB_PERFCOUNTER1_CFG__PERF_SEL__SHIFT 0x0
#define MC_HUB_PERFCOUNTER1_CFG__PERF_SEL_END_MASK 0xff00
#define MC_HUB_PERFCOUNTER1_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_HUB_PERFCOUNTER1_CFG__PERF_MODE_MASK 0xf000000
#define MC_HUB_PERFCOUNTER1_CFG__PERF_MODE__SHIFT 0x18
#define MC_HUB_PERFCOUNTER1_CFG__ENABLE_MASK 0x10000000
#define MC_HUB_PERFCOUNTER1_CFG__ENABLE__SHIFT 0x1c
#define MC_HUB_PERFCOUNTER1_CFG__CLEAR_MASK 0x20000000
#define MC_HUB_PERFCOUNTER1_CFG__CLEAR__SHIFT 0x1d
#define MC_HUB_PERFCOUNTER2_CFG__PERF_SEL_MASK 0xff
#define MC_HUB_PERFCOUNTER2_CFG__PERF_SEL__SHIFT 0x0
#define MC_HUB_PERFCOUNTER2_CFG__PERF_SEL_END_MASK 0xff00
#define MC_HUB_PERFCOUNTER2_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_HUB_PERFCOUNTER2_CFG__PERF_MODE_MASK 0xf000000
#define MC_HUB_PERFCOUNTER2_CFG__PERF_MODE__SHIFT 0x18
#define MC_HUB_PERFCOUNTER2_CFG__ENABLE_MASK 0x10000000
#define MC_HUB_PERFCOUNTER2_CFG__ENABLE__SHIFT 0x1c
#define MC_HUB_PERFCOUNTER2_CFG__CLEAR_MASK 0x20000000
#define MC_HUB_PERFCOUNTER2_CFG__CLEAR__SHIFT 0x1d
#define MC_HUB_PERFCOUNTER3_CFG__PERF_SEL_MASK 0xff
#define MC_HUB_PERFCOUNTER3_CFG__PERF_SEL__SHIFT 0x0
#define MC_HUB_PERFCOUNTER3_CFG__PERF_SEL_END_MASK 0xff00
#define MC_HUB_PERFCOUNTER3_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_HUB_PERFCOUNTER3_CFG__PERF_MODE_MASK 0xf000000
#define MC_HUB_PERFCOUNTER3_CFG__PERF_MODE__SHIFT 0x18
#define MC_HUB_PERFCOUNTER3_CFG__ENABLE_MASK 0x10000000
#define MC_HUB_PERFCOUNTER3_CFG__ENABLE__SHIFT 0x1c
#define MC_HUB_PERFCOUNTER3_CFG__CLEAR_MASK 0x20000000
#define MC_HUB_PERFCOUNTER3_CFG__CLEAR__SHIFT 0x1d
#define MC_RPB_PERFCOUNTER0_CFG__PERF_SEL_MASK 0xff
#define MC_RPB_PERFCOUNTER0_CFG__PERF_SEL__SHIFT 0x0
#define MC_RPB_PERFCOUNTER0_CFG__PERF_SEL_END_MASK 0xff00
#define MC_RPB_PERFCOUNTER0_CFG__PERF_SEL_END__SHIFT 0x8
#define MC_RPB_PERFCOUNTER0_CFG__PERF_MODE_MASK 0xf000000
#define MC_RPB_PERFCOUNTER0_CFG__PERF_MODE__SHIFT 0x18
#define MC_RPB_PERFCOUNTER0_CFG__ENABLE_MASK 0x10000000
#define MC_RPB_PERFCOUNTER0_CFG__ENABLE__SHIFT 0x1c
#define MC