1__UvdLevel_0_padding_2_MASK 0xff
#define DPM_TABLE_361__UvdLevel_0_padding_2__SHIFT 0x0
#define DPM_TABLE_361__UvdLevel_0_padding_1_MASK 0xff00
#define DPM_TABLE_361__UvdLevel_0_padding_1__SHIFT 0x8
#define DPM_TABLE_361__UvdLevel_0_padding_0_MASK 0xff0000
#define DPM_TABLE_361__UvdLevel_0