00
#define SQ_MIMG_0__DA__SHIFT 0xe
#define SQ_MIMG_0__R128_MASK 0x8000
#define SQ_MIMG_0__R128__SHIFT 0xf
#define SQ_MIMG_0__TFE_MASK 0x10000
#define SQ_MIMG_0__TFE__SHIFT 0x10
#define SQ_MIMG_0__LWE_MASK 0x20000
#define SQ_MIMG_0__LWE__SHIFT 0x11
#define SQ_MIMG_0__OP_MASK 0x1fc0000
#define SQ_MIMG_0__OP__SHIFT 0x12
#define SQ_MIMG_0__SLC_MASK 0x2000000
#define SQ_MIMG_0__SLC__SHIFT 0x19
#define SQ_MIMG_0__ENCODING_MASK 0xfc000000
#define SQ_MIMG_0__ENCODING__SHIFT 0x1a
#define SQ_SOPK__SIMM16_MASK 0xffff
#define SQ_SOPK__SIMM16__SHIFT 0x0
#define SQ_SOPK__SDST_MASK 0x7f0000
#define SQ_SOPK__SDST__SHIFT 0x10
#define SQ_SOPK__OP_MASK 0xf800000
#define SQ_SOPK__OP__SHIFT 0x17
#define SQ_SOPK__ENCODING_MASK 0xf0000000
#define SQ_SOPK__ENCODING__SHIFT 0x1c
#define SQ_DS_0__OFFSET0_MASK 0xff
#define SQ_DS_0__OFFSET0__SHIFT 0x0
#define SQ_DS_0__OFFSET1_MASK 0xff00
#define SQ_DS_0__OFFSET1__SHIFT 0x8
#define SQ_DS_0__GDS_MASK 0x10000
#define SQ_DS_0__GDS__SHIFT 0x10
#define SQ_DS_0__OP_MASK 0x1fe0000
#define SQ_DS_0__OP__SHIFT 0x11
#define SQ_DS_0__ENCODING_MASK 0xfc000000
#define SQ_DS_0__ENCODING__SHIFT 0x1a
#define SQ_VOP_DPP__SRC0_MASK 0xff
#define SQ_VOP_DPP__SRC0__SHIFT 0x0
#define SQ_VOP_DPP__DPP_CTRL_MASK 0x1ff00
#define SQ_VOP_DPP__DPP_CTRL__SHIFT 0x8
#define SQ_VOP_DPP__BOUND_CTRL_MASK 0x80000
#define SQ_VOP_DPP__BOUND_CTRL__SHIFT 0x13
#define SQ_VOP_DPP__SRC0_NEG_MASK 0x100000
#define SQ_VOP_DPP__SRC0_NEG__SHIFT 0x14
#define SQ_VOP_DPP__SRC0_ABS_MASK 0x200000
#define SQ_VOP_DPP__SRC0_ABS__SHIFT 0x15
#define SQ_VOP_DPP__SRC1_NEG_MASK 0x400000
#define SQ_VOP_DPP__SRC1_NEG__SHIFT 0x16
#define SQ_VOP_DPP__SRC1_ABS_MASK 0x800000
#define SQ_VOP_DPP__SRC1_ABS__SHIFT 0x17
#define SQ_VOP_DPP__BANK_MASK_MASK 0xf000000
#define SQ_VOP_DPP__BANK_MASK__SHIFT 0x18
#define SQ_VOP_DPP__ROW_MASK_MASK 0xf0000000
#define SQ_VOP_DPP__ROW_MASK__SHIFT 0x1c
#define SQ_VOPC__SRC0_MASK 0x1ff
#define SQ_VOPC__SRC0__SHIFT 0x0
#define SQ_VOPC__VSRC1_MASK 0x1fe00
#define SQ_VOPC__VSRC1__SHIFT 0x9
#define SQ_VOPC__OP_MASK 0x1fe0000
#define SQ_VOPC__OP__SHIFT 0x11
#define SQ_VOPC__ENCODING_MASK 0xfe000000
#define SQ_VOPC__ENCODING__SHIFT 0x19
#define SQ_VINTRP__VSRC_MASK 0xff
#define SQ_VINTRP__VSRC__SHIFT 0x0
#define SQ_VINTRP__ATTRCHAN_MASK 0x300
#define SQ_VINTRP__ATTRCHAN__SHIFT 0x8
#define SQ_VINTRP__ATTR_MASK 0xfc00
#define SQ_VINTRP__ATTR__SHIFT 0xa
#define SQ_VINTRP__OP_MASK 0x30000
#define SQ_VINTRP__OP__SHIFT 0x10
#define SQ_VINTRP__VDST_MASK 0x3fc0000
#define SQ_VINTRP__VDST__SHIFT 0x12
#define SQ_VINTRP__ENCODING_MASK 0xfc000000
#define SQ_VINTRP__ENCODING__SHIFT 0x1a
#define CGTT_SX_CLK_CTRL0__ON_DELAY_MASK 0xf
#define CGTT_SX_CLK_CTRL0__ON_DELAY__SHIFT 0x0
#define CGTT_SX_CLK_CTRL0__OFF_HYSTERESIS_MASK 0xff0
#define CGTT_SX_CLK_CTRL0__OFF_HYSTERESIS__SHIFT 0x4
#define CGTT_SX_CLK_CTRL0__RESERVED_MASK 0xfff000
#define CGTT_SX_CLK_CTRL0__RESERVED__SHIFT 0xc
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE7_MASK 0x1000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE7__SHIFT 0x18
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE6_MASK 0x2000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE6__SHIFT 0x19
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE5_MASK 0x4000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE5__SHIFT 0x1a
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE4_MASK 0x8000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE4__SHIFT 0x1b
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE3_MASK 0x10000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE3__SHIFT 0x1c
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE2_MASK 0x20000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE2__SHIFT 0x1d
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE1_MASK 0x40000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE1__SHIFT 0x1e
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE0_MASK 0x80000000
#define CGTT_SX_CLK_CTRL0__SOFT_OVERRIDE0__SHIFT 0x1f
#define CGTT_SX_CLK_CTRL1__ON_DELAY_MASK 0xf
#define CGTT_SX_CLK_CTRL1__ON_DELAY__SHIFT 0x0
#define CGTT_SX_CLK_CTRL1__OFF_HYSTERESIS_MASK 0xff0
#define CGTT_SX_CLK_CTRL1__OFF_HYSTERESIS__SHIFT 0x4
#define CGTT_SX_CLK_CTRL1__RESERVED_MASK 0xfff000
#define CGTT_SX_CLK_CTRL1__RESERVED__SHIFT 0xc
#define CGTT_SX_CLK_CTRL1__DBG_EN_MASK 0x1000000
#define CGTT_SX_CLK_CTRL1__DBG_EN__SHIFT 0x18
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE6_MASK 0x2000000
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE6__SHIFT 0x19
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE5_MASK 0x4000000
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE5__SHIFT 0x1a
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE4_MASK 0x8000000
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE4__SHIFT 0x1b
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE3_MASK 0x10000000
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE3__SHIFT 0x1c
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE2_MASK 0x20000000
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE2__SHIFT 0x1d
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE1_MASK 0x40000000
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE1__SHIFT 0x1e
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE0_MASK 0x80000000
#define CGTT_SX_CLK_CTRL1__SOFT_OVERRIDE0__SHIFT 0x1f
#define CGTT_SX_CLK_CTRL2__ON_DELAY_MASK 0xf
#define CGTT_SX_CLK_CTRL2__ON_DELAY__SHIFT 0x0
#define CGTT_SX_CLK_CTRL2__OFF_HYSTERESIS_MASK 0xff0
#define CGTT_SX_CLK_CTRL2__OFF_HYSTERESIS__SHIFT 0x4
#define CGTT_SX_CLK_CTRL2__RESERVED_MASK 0xfff000
#define CGTT_SX_CLK_CTRL2__RESERVED__SHIFT 0xc
#define CGTT_SX_CLK_CTRL2__DBG_EN_MASK 0x1000000
#define CGTT_SX_CLK_CTRL2__DBG_EN__SHIFT 0x18
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE6_MASK 0x2000000
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE6__SHIFT 0x19
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE5_MASK 0x4000000
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE5__SHIFT 0x1a
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE4_MASK 0x8000000
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE4__SHIFT 0x1b
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE3_MASK 0x10000000
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE3__SHIFT 0x1c
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE2_MASK 0x20000000
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE2__SHIFT 0x1d
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE1_MASK 0x40000000
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE1__SHIFT 0x1e
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE0_MASK 0x80000000
#define CGTT_SX_CLK_CTRL2__SOFT_OVERRIDE0__SHIFT 0x1f
#define CGTT_SX_CLK_CTRL3__ON_DELAY_MASK 0xf
#define CGTT_SX_CLK_CTRL3__ON_DELAY__SHIFT 0x0
#define CGTT_SX_CLK_CTRL3__OFF_HYSTERESIS_MASK 0xff0
#define CGTT_SX_CLK_CTRL3__OFF_HYSTERESIS__SHIFT 0x4
#define CGTT_SX_CLK_CTRL3__RESERVED_MASK 0xfff000
#define CGTT_SX_CLK_CTRL3__RESERVED__SHIFT 0xc
#define CGTT_SX_CLK_CTRL3__DBG_EN_MASK 0x1000000
#define CGTT_SX_CLK_CTRL3__DBG_EN__SHIFT 0x18
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE6_MASK 0x2000000
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE6__SHIFT 0x19
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE5_MASK 0x4000000
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE5__SHIFT 0x1a
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE4_MASK 0x8000000
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE4__SHIFT 0x1b
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE3_MASK 0x10000000
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE3__SHIFT 0x1c
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE2_MASK 0x20000000
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE2__SHIFT 0x1d
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE1_MASK 0x40000000
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE1__SHIFT 0x1e
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE0_MASK 0x80000000
#define CGTT_SX_CLK_CTRL3__SOFT_OVERRIDE0__SHIFT 0x1f
#define CGTT_SX_CLK_CTRL4__ON_DELAY_MASK 0xf
#define CGTT_SX_CLK_CTRL4__ON_DELAY__SHIFT 0x0
#define CGTT_SX_CLK_CTRL4__OFF_HYSTERESIS_MASK 0xff0
#define CGTT_SX_CLK_CTRL4__OFF_HYSTERESIS__SHIFT 0x4
#define CGTT_SX_CLK_CTRL4__RESERVED_MASK 0xfff000
#define CGTT_SX_CLK_CTRL4__RESERVED__SHIFT 0xc
#define CGTT_SX_CLK_CTRL4__DBG_EN_MASK 0x1000000
#define CGTT_SX_CLK_CTRL4__DBG_EN__SHIFT 0x18
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE6_MASK 0x2000000
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE6__SHIFT 0x19
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE5_MASK 0x4000000
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE5__SHIFT 0x1a
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE4_MASK 0x8000000
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE4__SHIFT 0x1b
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE3_MASK 0x10000000
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE3__SHIFT 0x1c
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE2_MASK 0x20000000
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE2__SHIFT 0x1d
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE1_MASK 0x40000000
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE1__SHIFT 0x1e
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE0_MASK 0x80000000
#define CGTT_SX_CLK_CTRL4__SOFT_OVERRIDE0__SHIFT 0x1f
#define SX_DEBUG_BUSY__POS_FREE_OR_VALIDS_MASK 0x1
#define SX_DEBUG_BUSY__POS_FREE_OR_VALIDS__SHIFT 0x0
#define SX_DEBUG_BUSY__POS_REQUESTER_BUSY_MASK 0x2
#define SX_DEBUG_BUSY__POS_REQUESTER_BUSY__SHIFT 0x1
#define SX_DEBUG_BUSY__PA_SX_BUSY_MASK 0x4
#define SX_DEBUG_BUSY__PA_SX_BUSY__SHIFT 0x2
#define SX_DEBUG_BUSY__POS_SCBD_BUSY_MASK 0x8
#define SX_DEBUG_BUSY__POS_SCBD_BUSY__SHIFT 0x3
#define SX_DEBUG_BUSY__POS_BANK3VAL3_BUSY_MASK 0x10
#define SX_DEBUG_BUSY__POS_BANK3VAL3_BUSY__SHIFT 0x4
#define SX_DEBUG_BUSY__POS_BANK3VAL2_BUSY_MASK 0x20
#define SX_DEBUG_BUSY__POS_BANK3VAL2_BUSY__SHIFT 0x5
#define SX_DEBUG_BUSY__POS_BANK3VAL1_BUSY_MASK 0x40
#define SX_DEBUG_BUSY__POS_BANK3VAL1_BUSY__SHIFT 0x6
#define SX_DEBUG_BUSY__POS_BANK3VAL0_BUSY_MASK 0x80
#define SX_DEBUG_BUSY__POS_BANK3VAL0_BUSY__SHIFT 0x7
#define SX_DEBUG_BUSY__POS_BANK2VAL3_BUSY_MASK 0x100
#define SX_DEBUG_BUSY__POS_BANK2VAL3_BUSY__SHIFT 0x8
#define SX_DEBUG_BUSY__POS_BANK2VAL2_BUSY_MASK 0x200
#define SX_DEBUG_BUSY__POS_BANK2VAL2_BUSY__SHIFT 0x9
#define SX_DEBUG_BUSY__POS_BANK2VAL1_BUSY_MASK 0x400
#define SX_DEBUG_BUSY__POS_BANK2VAL1_BUSY__SHIFT 0xa
#define SX_DEBUG_BUSY__POS_BANK2VAL0_BUSY_MASK 0x800
#define SX_DEBUG_BUSY__POS_BANK2VAL0_BUSY__SHIFT 0xb
#define SX_DEBUG_BUSY__POS_BANK1VAL3_BUSY_MASK 0x1000
#define SX_DEBUG_BUSY__POS_BANK1VAL3_BUSY__SHIFT 0xc
#define SX_DEBUG_BUSY__POS_BANK1VAL2_BUSY_MASK 0x2000
#define SX_DEBUG_BUSY__POS_BANK1VAL2_BUSY__SHIFT 0xd
#define SX_DEBUG_BUSY__POS_BANK1VAL1_BUSY_MASK 0x4000
#define SX_DEBUG_BUSY__POS_BANK1VAL1_BUSY__SHIFT 0xe
#define SX_DEBUG_BUSY__POS_BANK1VAL0_BUSY_MASK 0x8000
#define SX_DEBUG_BUSY__POS_BANK1VAL0_BUSY__SHIFT 0xf
#define SX_DEBUG_BUSY__POS_BANK0VAL3_BUSY_MASK 0x10000
#define SX_DEBUG_BUSY__POS_BANK0VAL3_BUSY__SHIFT 0x10
#define SX_DEBUG_BUSY__POS_BANK0VAL2_BUSY_MASK 0x20000
#define SX_DEBUG_BUSY__POS_BANK0VAL2_BUSY__SHIFT 0x11
#define SX_DEBUG_BUSY__POS_BANK0VAL1_BUSY_MASK 0x40000
#define SX_DEBUG_BUSY__POS_BANK0VAL1_BUSY__SHIFT 0x12
#define SX_DEBUG_BUSY__POS_BANK0VAL0_BUSY_MASK 0x80000
#define SX_DEBUG_BUSY__POS_BANK0VAL0_BUSY__SHIFT 0x13
#define SX_DEBUG_BUSY__POS_INMUX_VALID_MASK 0x100000
#define SX_DEBUG_BUSY__POS_INMUX_VALID__SHIFT 0x14
#define SX_DEBUG_BUSY__WRCTRL1_VALIDQ3_MASK 0x200000
#define SX_DEBUG_BUSY__WRCTRL1_VALIDQ3__SHIFT 0x15
#define SX_DEBUG_BUSY__WRCTRL1_VALIDQ2_MASK 0x400000
#define SX_DEBUG_BUSY__WRCTRL1_VALIDQ2__SHIFT 0x16
#define SX_DEBUG_BUSY__WRCTRL1_VALIDQ1_MASK 0x800000
#define SX_DEBUG_BUSY__WRCTRL1_VALIDQ1__SHIFT 0x17
#define SX_DEBUG_BUSY__WRCTRL0_VALIDQ3_MASK 0x1000000
#define SX_DEBUG_BUSY__WRCTRL0_VALIDQ3__SHIFT 0x18
#define SX_DEBUG_BUSY__WRCTRL0_VALIDQ2_MASK 0x2000000
#define SX_DEBUG_BUSY__WRCTRL0_VALIDQ2__SHIFT 0x19
#define SX_DEBUG_BUSY__WRCTRL0_VALIDQ1_MASK 0x4000000
#define SX_DEBUG_BUSY__WRCTRL0_VALIDQ1__SHIFT 0x1a
#define SX_DEBUG_BUSY__PCCMD_VALID_MASK 0x8000000
#define SX_DEBUG_BUSY__PCCMD_VALID__SHIFT 0x1b
#define SX_DEBUG_BUSY__VDATA1_VALID_MASK 0x10000000
#define SX_DEBUG_BUSY__VDATA1_VALID__SHIFT 0x1c
#define SX_DEBUG_BUSY__VDATA0_VALID_MASK 0x20000000
#define SX_DEBUG_BUSY__VDATA0_VALID__SHIFT 0x1d
#define SX_DEBUG_BUSY__CMD_BUSYORVAL_MASK 0x40000000
#define SX_DEBUG_BUSY__CMD_BUSYORVAL__SHIFT 0x1e
#define SX_DEBUG_BUSY__ADDR_BUSYORVAL_MASK 0x80000000
#define SX_DEBUG_BUSY__ADDR_BUSYORVAL__SHIFT 0x1f
#define SX_DEBUG_BUSY_2__COL_SCBD_BUSY_MASK 0x1
#define SX_DEBUG_BUSY_2__COL_SCBD_BUSY__SHIFT 0x0
#define SX_DEBUG_BUSY_2__COL_REQ3_FREECNT_NE0_MASK 0x2
#define SX_DEBUG_BUSY_2__COL_REQ3_FREECNT