R0_CTRL1__TIME_SLICE_MODE_EN__SHIFT 0x8
#define MP0_DISP_TIMER0_CTRL1__TIMER_SATURATION_EN_MASK 0x10000
#define MP0_DISP_TIMER0_CTRL1__TIMER_SATURATION_EN__SHIFT 0x10
#define MP0_DISP_TIMER0_CTRL1__RESERVED_MASK 0xff000000
#define MP0_DISP_TIMER0_CTRL1__RESERVED__SHIFT 0x18
#define MP0_DISP_TIMER0_CMP_AUTOINC__AUTOINC_MASK 0xf
#define MP0_DISP_TIMER0_CMP_AUTOINC__AUTOINC__SHIFT 0x0
#define MP0_DISP_TIMER0_CMP_AUTOINC__RESERVED_MASK 0xfffffff0
#define MP0_DISP_TIMER0_CMP_AUTOINC__RESERVED__SHIFT 0x4
#define MP0_DISP_TIMER0_INTEN__INTEN_MASK 0xf
#define MP0_DISP_TIMER0_INTEN__INTEN__SHIFT 0x0
#define MP0_DISP_TIMER0_INTEN__RESERVED_MASK 0xfffffff0
#define MP0_DISP_TIMER0_INTEN__RESERVED__SHIFT 0x4
#define MP0_DISP_TIMER0_OCMP_0_0__OCMP_MASK 0xffffffff
#define MP0_DISP_TIMER0_OCMP_0_0__OCMP__SHIFT 0x0
#define MP0_DISP_TIMER0_OCMP_0_1__OCMP_MASK 0xffffffff
#define MP0_DISP_TIMER0_OCMP_0_1__OCMP__SHIFT 0x0
#define MP0_DISP_TIMER0_CNT__COUNT_MASK 0xffffffff
#define MP0_DISP_TIMER0_CNT__COUNT__SHIFT 0x0
#define MP0_DISP_TIMER1_CTRL0__START_MASK 0x1
#define MP0_DISP_TIMER1_CTRL0__START__SHIFT 0x0
#define MP0_DISP_TIMER1_CTRL0__CLEAR_MASK 0x100
#define MP0_DISP_TIMER1_CTRL0__CLEAR__SHIFT 0x8
#define MP0_DISP_TIMER1_CTRL0__DEC_MASK 0x10000
#define MP0_DISP_TIMER1_CTRL0__DEC__SHIFT 0x10
#define MP0_DISP_TIMER1_CTRL0__PULSE_COUNT_MODE_MASK 0x1000000
#define MP0_DISP_TIMER1_CTRL0__PULSE_COUNT_MODE__SHIFT 0x18
#define MP0_DISP_TIMER1_CTRL1__PWM_OUTPUT_EN_MASK 0x1
#define MP0_DISP_TIMER1_CTRL1__PWM_OUTPUT_EN__SHIFT 0x0
#define MP0_DISP_TIMER1_CTRL1__TIME_SLICE_MODE_EN_MASK 0x100
#define MP0_DISP_TIMER1_CTRL1__TIME_SLICE_MODE_EN__SHIFT 0x8
#define MP0_DISP_TIMER1_CTRL1__TIMER_SATURATION_EN_MASK 0x10000
#define MP0_DISP_TIMER1_CTRL1__TIMER_SATURATION_EN__SHIFT 0x10
#define MP0_DISP_TIMER1_CTRL1__RESERVED_MASK 0xff000000
#define MP0_DISP_TIMER1_CTRL1__RESERVED__SHIFT 0x18
#define MP0_DISP_TIMER1_CMP_AUTOINC__AUTOINC_MASK 0xf
#define MP0_DISP_TIMER1_CMP_AUTOINC__AUTOINC__SHIFT 0x0
#define MP0_DISP_TIMER1_CMP_AUTOINC__RESERVED_MASK 0xfffffff0
#define MP0_DISP_TIMER1_CMP_AUTOINC__RESERVED__SHIFT 0x4
#define MP0_DISP_TIMER1_INTEN__INTEN_MASK 0xf
#define MP0_DISP_TIMER1_INTEN__INTEN__SHIFT 0x0
#define MP0_DISP_TIMER1_INTEN__RESERVED_MASK 0xfffffff0
#define MP0_DISP_TIMER1_INTEN__RESERVED__SHIFT 0x4
#define MP0_DISP_TIMER1_OCMP_0_0__OCMP_MASK 0xffffffff
#define MP0_DISP_TIMER1_OCMP_0_0__OCMP__SHIFT 0x0
#define MP0_DISP_TIMER1_OCMP_0_1__OCMP_MASK 0xffffffff
#define MP0_DISP_TIMER1_OCMP_0_1__OCMP__SHIFT 0x0
#define MP0_DISP_TIMER1_CNT__COUNT_MASK 0xffffffff
#define MP0_DISP_TIMER1_CNT__COUNT__SHIFT 0x0
#define SMU_MP1_SRBM2P_MSG_0__CONTENT_MASK 0xffffffff
#define SMU_MP1_SRBM2P_MSG_0__CONTENT__SHIFT 0x0
#define SMU_MP1_SRBM2P_MSG_1__CONTENT_MASK 0xffffffff
#define SMU_MP1_SRBM2P_MSG_1__CONTENT__SHIFT 0x0
#define SMU_MP1_SRBM2P_MSG_2__CONTENT_MASK 0xffffffff
#define SMU_MP1_SRBM2P_MSG_2__CONTENT__SHIFT 0x0
#define SMU_MP1_SRBM2P_MSG_3__CONTENT_MASK 0xffffffff
#define SMU_MP1_SRBM2P_MSG_3__CONTENT__SHIFT 0x0
#define SMU_MP1_SRBM2P_MSG_4__