000
#define DPM_TABLE_299__VceLevel_3_MinVoltage_Vddc__SHIFT 0x18
#define DPM_TABLE_300__VceLevel_3_padding_2_MASK 0xff
#define DPM_TABLE_300__VceLevel_3_padding_2__SHIFT 0x0
#define DPM_TABLE_300__VceLevel_3_padding_1_MASK 0xff00
#define DPM_TABLE_300__VceLevel_3_padding_1__SHIFT 0x8
#define DPM_TABLE_300__VceLevel_3_padding_0_MASK 0xff0000
#define DPM_TABLE_300__VceLevel_3_padding_0__SHIFT 0x10
#define DPM_TABLE_300__VceLevel_3_Divider_MASK 0xff000000
#define DPM_TABLE_300__VceLevel_3_Divider__SHIFT 0x18
#define DPM_TABLE_301__VceLevel_4_Frequency_MASK 0xffffffff
#define DPM_TABLE_301__VceLevel_4_Frequency__SHIFT 0x0
#define DPM_TABLE_302__VceLevel_4_MinVoltage_Phases_MASK 0xff
#define DPM_TABLE_302__VceLevel_4_MinVoltage_Phases__SHIFT 0x0
#define DPM_TABLE_302__VceLevel_4_MinVoltage_VddGfx_MASK 0xff00
#define DPM_TABLE_302__VceLevel_4_MinVoltage_VddGfx__SHIFT 0x8
#define DPM_TABLE_302__VceLevel_4_MinVoltage_Vddci_MASK 0xff0000
#define DPM_TABLE_302__VceLevel_4_MinVoltage_Vddci__SHIFT 0x10
#define DPM_TABLE_302__VceLevel_4_MinVoltage_Vddc_MASK 0xff000000
#define DPM_TABLE_302__VceLevel_4_MinVoltage_Vddc__SHIFT 0x1