_LOCKED__SHIFT 0x12
#define BIF_IMPCTL_RXCNTL__RX_IMP_READBACK_SEL_MASK 0x80000
#define BIF_IMPCTL_RXCNTL__RX_IMP_READBACK_SEL__SHIFT 0x13
#define BIF_IMPCTL_RXCNTL__RX_IMP_READBACK_MASK 0xf00000
#define BIF_IMPCTL_RXCNTL__RX_IMP_READBACK__SHIFT 0x14
#define BIF_IMPCTL_RXCNTL__RX_CMP_AMBIG_MASK 0x10000000
#define BIF_IMPCTL_RXCNTL__RX_CMP_AMBIG__SHIFT 0x1c
#define BIF_IMPCTL_RXCNTL__CAL_DONE_MASK 0x20000000
#define BIF_IMPCTL_RXCNTL__CAL_DONE__SHIFT 0x1d
#define BIF_IMPCTL_TXCNTL_pd__TX_ADJUST_pd_MASK 0x7
#define BIF_IMPCTL_TXCNTL_pd__TX_ADJUST_pd__SHIFT 0x0
#define BIF_IMPCTL_TXCNTL_pd__TX_BIAS_HIGH_pd_MASK 0x8
#define BIF_IMPCTL_TXCNTL_pd__TX_BIAS_HIGH_pd__SHIFT 0x3
#define BIF_IMPCTL_TXCNTL_pd__LOWER_TX_ADJ_THRESH_pd_MASK 0xf00
#define BIF_IMPCTL_TXCNTL_pd__LOWER_TX_ADJ_THRESH_pd__SHIF