         = 0x2,
	UNP_GRPH_RED_CROSSBAR_A                          = 0x3,
} UNP_GRPH_RED_CROSSBAR;
typedef enum UNP_GRPH_GREEN_CROSSBAR {
	UNP_UNP_GRPH_GREEN_CROSSBAR_GY_AND_Y             = 0x0,
	UNP_UNP_GRPH_GREEN_CROSSBAR_B_Cb_AND_C           = 0x1,
	UNP_UNP_GRPH_GREEN_CROSSBAR_A                    = 0x2,
	UNP_UNP_GRPH_GREEN_CROSSBAR_R_Cr                 = 0x3,
} UNP_GRPH_GREEN_CROSSBAR;
typedef enum UNP_GRPH_BLUE_CROSSBAR {
	UNP_GRPH_BLUE_CROSSBAR_B_Cb_AND_C                = 0x0,
	UNP_GRPH_BLUE_CROSSBAR_A                         = 0x1,
	UNP_GRPH_BLUE_CROSSBAR_R_Cr                      = 0x2,
	UNP_GRPH_BLUE_CROSSBAR_GY_AND_Y                  = 0x3,
} UNP_GRPH_BLUE_CROSSBAR;
typedef enum UNP_GRPH_MODE_UPDATE_LOCKG {
	UNP_GRPH_UPDATE_LOCK_0                           = 0x0,
	UNP_GRPH_UPDATE_LOCK_1                           = 0x1,
} UNP_GRPH_MODE_UPDATE_LOCKG;
typedef enum UNP_GRPH_SURFACE_IGNORE_UPDATE_LOCK {
	UNP_GRPH_SURFACE_IGNORE_UPDATE_LOCK_0            = 0x0,
	UNP_GRPH_SURFACE_IGNORE_UPDATE_LOCK_1            = 0x1,
} UNP_GRPH_SURFACE_IGNORE_UPDATE_LOCK