RLC1_MIDCMD_DATA2__DATA2__SHIFT 0x0
#define SDMA0_RLC1_MIDCMD_DATA3__DATA3_MASK 0xffffffff
#define SDMA0_RLC1_MIDCMD_DATA3__DATA3__SHIFT 0x0
#define SDMA0_RLC1_MIDCMD_DATA4__DATA4_MASK 0xffffffff
#define SDMA0_RLC1_MIDCMD_DATA4__DATA4__SHIFT 0x0
#define SDMA0_RLC1_MIDCMD_DATA5__DATA5_MASK 0xffffffff
#define SDMA0_RLC1_MIDCMD_DATA5__DATA5__SHIFT 0x0
#define SDMA0_RLC1_MIDCMD_CNTL__DATA_VALID_MASK 0x1
#define SDMA0_RLC1_MIDCMD_CNTL__DATA_VALID__SHIFT 0x0
#define SDMA0_RLC1_MIDCMD_CNTL__COPY_MODE_MASK 0x2
#define SDMA0_RLC1_MIDCMD_CNTL__COPY_MODE__SHIFT 0x1
#define SDMA0_RLC1_MIDCMD_CNTL__SPLIT_STATE_MASK 0xf0
#define SDMA0_RLC1_